<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="row">
  			<div id="landing-img">
    			<img class="img-responsive" src="assets/img/landing-bg.jpg" alt="Morgan Kylee">
    		</div>
    		<div class="container">
    			<div class="row">
    				<h1>Coming <em>soon</em>.</h1>
    			</div>
    			<div class="row" id="contact">
	    			<div class="col-sm-6">
	    				<h3>Morgan Kylee.<span>3273 Roswell Rd.</span></h3>
	    			</div>
	    			<div class="col-sm-6">
	    				<h3>Atlanta, GA 30305<span>404.307.4668</span></h3>
	    			</div>
    			</div>
    			<div class="row" id="social">
    				<a href="https://www.facebook.com/pages/Morgan-Kylee/175609649158325" target="_blank"><img src="assets/img/facebook.png" alt="Facebook"></a>
    				<a href="http://instagram.com/morgankyleeboutique/" target="_blank"><img src="assets/img/instagram.png" alt="Instagram"></a>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>