html
	color: #fff
	font-family: 'Crimson Text', serif
	height: 100%
	min-height: 100%
	body
		background: #000
		height: 100%
		min-height: 100%
		.container-fluid
			height: 100%
			overflow-x: hidden
			.row
				position: relative
				&#contact
					margin-top: 50px
				&#social
					margin-top: 50px
					a
						&:hover
							img
								opacity: .4
						&:last-of-type
							img
								margin-right: 0
						img
							backface-visibility: hidden
							display: inline-block
							margin-right: 20px
							opacity: .2
							transition: .3s ease-in-out
			#landing-img
				left: 50%
				position: absolute
				z-index: 0
				img
					z-index: 0
				&:after
					bottom: 0
					box-shadow: inset 0 0 10px 20px #000
					content: ""
					height: 100%
					left: 0
					position: absolute
					width: 100%
			.container
				position: relative
				text-align: center
				z-index: 1
				h1
					background: url(../img/coming-soon-lines.png) no-repeat
					background-size: 100% 100%
					display: inline-block
					color: #fff
					font-family: 'Crimson Text', serif
					font-size: 30px
					margin: 0
					padding: .2em 0
				.col-sm-6
					text-align: left
					&:first-child
						text-align: right
						h3
							font-size: 20px
							span
								font-size: 18px
								margin-top: .65em
					&:last-child
						border-left: 1px solid #4d4d4d
						h3
							font-size: 17px
							letter-spacing: .02em
							span
								font-size: 28px
								letter-spacing: .05em
								margin-top: .3em
					h3
						color: #fff
						font-family: 'Crimson Text', serif
						text-transform: uppercase
						span
							display: block
@media(max-width:767px)
	html
		body
			.container-fluid
				.row
					&#contact
						margin-top: 30px
				#landing-img
					margin-left: -384px
					width: 768px
				.container
					margin-top: 345px
					.col-sm-6
						text-align: center
						h3
							span
								margin-top: 0 !important
						&:first-child
							text-align: center
							h3
								border-bottom: 1px solid #4d4d4d
								display: inline-block
								padding: 0 15px 20px 15px
						&:last-child
							border-left: 0
@media(min-width:768px)
	html
		body
			.container-fluid
				#landing-img
					margin-left: -496px
					width: 992px
				.container
					margin-top: 420px
@media(min-width:992px)
	html
		body
			.container-fluid
				#landing-img
					margin-left: -600px
					width: 1200px
				.container
					margin-top: 520px
@media(min-width: 1200px)
	html
		body
			.container-fluid
				#landing-img
					margin-left: -800px
					width: 1600px
				.container
					margin-top: 689px